<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot REST API with AJAX Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
           crossorigin="anonymous">
</head>
<body>
    <div class="container" style="min-height: 500px">
        <div class="starter-template">
            <h1>Spring Boot REST API with AJAX Example</h1>
            <img id="images" src="" alt="" width="100">
            <div id="profile"></div>
            <button id="logout">Logout</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFyY3V6pClLABN+NUeMVFQ2F7KpLHNfLOFN0oTn9B84J9FccLMW2lg5qOn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/mainjs.js"></script>
</body>
</html>
